.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
  border-bottom: 1px solid rgb(230, 227, 227);
  background-color: white;

  z-index: 100;
}

.left-section {
  display: flex;
  justify-items: center;
  align-items: center;
}

.left-section > .hamburger-icon {
  margin-left: 25px;
}

.left-section > .hamburger-icon img {
  height: 20px;
  width: 20px;
}

.left-section > .youtube-icon img {
  height: 20px;
  width: 150px;
}

.middle-section {
  flex: 1;

  display: flex;
  max-width: 500px;
}
.search-bar {
  flex: 1;
  height: 34px;
  padding-left: 10px;
  border: 1px solid rgb(171, 168, 168);
  border-radius: 3px;
  width: 0;
  font-size: 16px;
}
.search-bar::placeholder {
  font-size: 16px;
}

.search-button {
  height: 34px;
  width: 55px;
  border: 1px solid rgb(171, 168, 168);
}
.search-button img {
  height: 25px;
}

.voice-search-button {
  background-color: rgb(245, 245, 245);
  height: 34px;
  width: 40px;
  margin-left: 10px;
  border-radius: 50%;
  border: none;
}
.voice-search-button img {
  height: 25px;
}

.search-button,
.voice-search-button {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.search-button .tool-tip,
.voice-search-button .tool-tip {
  position: absolute;
  background-color: gray;
  color: white;
  padding: 3px 6px;
  border-radius: 2px;
  bottom: -35px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s;
  white-space: nowrap;
}

.search-button:hover .tool-tip,
.voice-search-button:hover .tool-tip {
  opacity: 1;
}

.right-section {
  display: flex;
  width: 190px;
  justify-content: space-between;
  margin-right: 30px;
  margin-left: 10px;
  flex-shrink: 0;
}

.right-section .upload-video-image {
  height: 30px;
  width: 25px;
}

.right-section .youtube-apps-image {
  height: 30px;
  width: 25px;
}

.notification-image-div {
  position: relative;
}

.right-section .notifications-image {
  height: 30px;
  width: 25px;
}

.notification-count {
  position: absolute;
  background-color: rgb(192, 16, 16);
  color: white;
  height: 15px;
  width: 15px;
  text-align: center;
  font-size: 12px;
  border-radius: 50%;
  top: 0;
  right: -4px;
}

.right-section .profile-picture {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: none;
}
